<ion-header>
  <ion-toolbar>
    <ion-title>
      Content Moderator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Moderate Content</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">
          Text
        </ion-label>
        <ion-textarea [(ngModel)]="body" autocorrect="on"></ion-textarea>
      </ion-item>
      <ion-button (click)="moderateContent()">Moderate</ion-button>
    </ion-list>
</ion-content>
